/OptimizationMethods.aux
/OptimizationMethods.fls
/OptimizationMethods.log
/OptimizationMethods.fdb_latexmk
/OptimizationMethods.synctex.gz
/OptimizationMethods.toc
/OptimizationMethods.upa
/OptimizationMethods.upb
/OptimizationMethods.pdf
**/.DS_Store